/*
=====================================================================
*   Zoon v1.0 Default Stylesheet
*   url: styleshout.com
*   06-07-2014
=====================================================================

TOC:
a. Webfonts and Icon fonts
b. Preloader
c. Reset
d. Default Styles
   1. Basic
   2. Typography
   3. Links
   4. Media
   5. Buttons
   6. Forms
d. Grid
e. Others
   1. Clearing
   2. Misc

=====================================================================  */


#preloader  {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #fff;
   z-index: 99999;
   height: 100%;
}

#status  {    
   position: absolute;
   left: 50%;
   top: 50%;
   width: 64px;
   height: 64px;
   margin: -32px 0 0 -32px;  
   padding: 0;    
}