<div class="row add-bottom">

			<hr> 
		
		   <div class="six columns add-bottom">
		
		      <h3>Language Services</h3>
		
		      <p><a href="#"><img width="120" height="120" class="pull-left" alt="Language Services" src="images/ComingSoonLanguageServices.png"></a>
		  Guildtree sees language as the trunk of the tree of knowledge. Members of the global guild of translators and interpreters are your keys to the value produced by experts around the world in every field of knowledge.. </p>
		<p>
		We look forward to introducing you to the translation and interpretation services of our Director of Translation, legal translator Lisa Maldonado, (ES>EN and also FR>EN) and her global network of professional colleagues, each with their unique subject matter and linguistic specialties.
		</p>
		<p>
		Reach us at <a href="mailto:translation@guildtree.com">translation@guildtree.com</a> and look for us soon at guildtree.com/translation
		</p>
		
		   </div>
		
		   <div class="six columns add-bottom">
		
		      <h3>Software Programming</h3>
		
		      <p>
		      <a href="#"><img width="120" height="120" class="pull-right" alt="Software Programming" src="images/ComingSoonSoftwareProgramming.jpg"></a>
		      Computing and information technology provide the systems and pathways through which human value flows. 
		  </p>
		  <p>
		  Our team of four senior software programmers and architects have more than 40 years' experience creating leading-edge enterprise software and IT infrastructure solutions for business. Through Guildtree's language services, Clients speaking languages other than English or Spanish can also employ their experience.
		  </p>
		  <p>
		  Reach us at <a href="mailto:software@guildtree.com">software@guildtree.com</a> and look for us soon at guildtree.com/software
		  </p>
		
		
		   </div>
		
		   <hr />
		
		</div> <!-- Row End-->