<header class="row">	 

<div id="logo" >
	<a href="#" >
       <img src="images/logo.png" alt="GuiltTree">                  
    </a>					
</div>

  <nav id="nav-wrap">

     <a class="menu-btn" href="#nav-wrap" title="Show navigation" (click)="toggleMenu()">Show navigation</a>
   <a class="menu-btn" href="#" title="Hide navigation" (click)="toggleMenu()">Hide navigation</a>

     <ul id="nav"  class="nav" [style.display]="attribute">
        <li><a class="smoothscroll" href="#home">Home</a></li>
        <li><a class="smoothscroll" href="#styles">Style Guide</a></li>			      
     </ul> <!-- end #nav -->

	</nav> <!-- end #nav-wrap --> 	        

</header> <!-- Header End -->   	